apiVersion: v1
kind: Namespace
metadata:
  name: mlflow
  labels:
    app: player-churn-mlops
    component: mlflow
    environment: production
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mlflow-sa
  namespace: mlflow
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::${AWS_ACCOUNT_ID}:role/${CLUSTER_NAME}-mlflow-sa-role
